<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ke.wechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".PosterActivity"
            android:theme="@style/WechatShareFullScreenTheme" />
        <activity
            android:name=".PosterListActivity"
            android:theme="@style/WechatShareFullScreenTheme" />

        <provider
            android:name=".MyFileProvider"
            android:authorities="${applicationId}.shareDialogProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wechat_share_file_paths_public" />
        </provider>
    </application>

</manifest>